

.calender-box{
    
    margin-top: 50px;
    width:1225px;
    height:500px;
    border:1px solid;
    margin-top:15px;
    margin-left: 50px;
    margin-right: 51px;
}

.calender-title{
    
    width:100%;
    display: grid;
    height:40px;
 text-align: center;
 font-weight: 600;
 color:rgb(201, 190, 190);
    grid-template-columns: repeat(7,1fr);
    border:1px solid black;
    
    padding-bottom: 5px;
}


.calender-body{
    height:460px;
    display: grid;
    grid-template-columns: repeat(7,175px);
    grid-template-rows: repeat(5,1fr);
    text-align: left;
}

.schedule{
    font-size:10px;
}

.styledate{
    transition: all 0.3s ease ;
    border:1px solid;
    padding-left:10px;
    
    color:"black"
    
}
.styledate:hover{
    color:cornflowerblue;
     background-color: rgb(242, 233, 233);
}


