

.calender-box{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    margin-top: 50px;
    width:1225px;
    height:500px;
    /* border:1px solid; */
    margin-top:15px;
    margin-left: 50px;
    margin-right: 51px;
}

.calender-title{
   
   
    
    display: grid;
    height:40px;
 text-align: center;
 font-weight: 600;
 color:#222;
    grid-template-columns: repeat(7,1fr);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    
    padding-bottom: 5px;
}


.calender-body{
    height:460px;
    display: grid;
    grid-template-columns: repeat(7,175px);
    grid-template-rows: repeat(5,1fr);
    text-align: left;
}

.schedule{
    font-size:10px;
}

.styledate{
    transition: all 0.3s ease ;
    /* border:1px solid; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-left:10px;
    border-radius: 5px;
    color:"black"
    
}
.styledate:hover{
    color:cornflowerblue;
     background-color:      rgb(245, 245, 245);
}


