#Container {
    display: flex;
    width: 100%;
    height: 630px;
}
#div1{
    /* border: 2px solid red; */
    width: 34%;
    
}
#div2{
    /* border: 2px solid black; */
    width: 66%;
    background-color: rgb(224, 191, 42);
}
#BLSignimg{
    width: 100%;
}
#bufferimgdiv{
    /* border: 2px red; */
    margin-top: 3%;
    margin-right: 55%;
    /* border: 2px red; */
    width: 100px;
    margin-left: 3%;
}
#LOGIN{
    font-style: normal;
    font-weight: bold;
    line-height: 44px;
    font-size: 32px;
    margin-bottom: 20px;
    color: #3D3D3D;

    /* font-weight: 500; */
    /* font-size: 14px; */
    color: #3D3D3D;
    text-align: left;
    
}
#formdiv{
    /* border: 2px red; */
    height: 100px;
    width: 90%;
    align-items: left;
    /* background-color: aquamarine; */
    justify-content: left;
    margin: auto;
}
.lables{
    font-weight: 500;
    font-size: 14px;
    color: #3D3D3D;
    text-align: left;
    margin-bottom: 8px;
}
#inputs{
    align-items: left;
    width: 100%;
    margin-top: 1%;
    height: 50px;
    margin-right: 90%;
    border-radius: 10px;
    border: 2px black;
   
}
#loginbtn{
 width: 100%;
 margin-top: 3%;
 height: 50px;
 background-color: blue;
 color: aliceblue;
 border-radius: 10px;
 border: blue;
}
#cafp{
 display: flex;
 /* background-color: aqua; */
 margin-top: 10px;
 justify-content: space-between;
 padding: 5px;
 
}
#CRA{
    background-color:white;
    border: white;
    color: inherit
}
#FRP{
    background-color:white;
    border: white;
    color: inherit
}
#suppordiv{
    /* background-color: aqua; */
    margin-top: 20px;
}
#suppordiv>p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    color: #636363;
    padding: 5px;
}
#lastdiv{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto;
    margin-top: 40px;
    height: 50px;
    gap: 10px;
}
/* .endbtns{
    width: 500px;
    color: inherit;
    background-color: white;
    border: white;
} */

#lastdiv>a{
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #636363;
    font-size: smaller;
}
@media only screen and (max-width: 1000px){
    #div1{
        width: 100%;
    }
    #div2{
        width: 0%;
    }
    .lables{
        margin-left: 24%;
    }
    #LOGIN{
        margin-left: 24%;
    }
    #inputs{
        width: 50%;
        margin-right: 0%;
        margin-left: 24%;
    }
    #loginbtn{
        width: 50%;
        margin-left: 24%;
    }
    #cafp{
        width: 50%;
        margin-left: 25%;
        
    }
    #suppordiv{
        width:50%;
        margin-left: 25%;
    }
    #lastdiv{
        width: 60%;
    }
    
}
