.Container {
    display: flex;
    /* border: 2px solid red; */
    gap: 10px;
    height: 900px;
}
.div1 {
    /* border: 2px solid red; */
    width: 65%;
    margin-top: 2%;
    
}
.div2 {
    width: 35%;
    height: 90%;
    position: fixed;
    right: 0;
    
}
#bufferimg{
   margin-top:2%;
   margin-left: 3%;
}

#headingdiv{
    margin-top: 5%;
    margin-left: 120px;
}
#headingline{
    font-style: normal;
    font-weight: bold;
    line-height: 44px;
    font-size: 32px;
    margin-bottom: 8px;
    color: #3D3D3D;
    text-align: left;
}
#formdiv{
    /* border: 2px solid red; */
    /* width: 0%; */
    margin-top: 50px;
    margin-left: 50px;
}
.input{
    /* border: 2px red;
    width: 100%;
    height: 48px; */

  width: 83%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  margin-top: 2px;
  
}

#lable1{
    font-weight: 500;
    font-size: 14px;
    color: #3D3D3D;
    margin-left:0%;
  
}
.lable2{
    font-weight: 500;
    font-size: 14px;
    color: #3D3D3D;
    margin-left: 0%;
   
}
.inputdiv{
    margin-top: 3px;
    /* border: 5px gray; */
    width: 70%;
    /* background-color: gray; */
    height: 49px;
    margin-bottom: 30px;
    margin: auto;
    margin-top: 30px;
}
#catptchdiv{
    /* border: 2px solid red; */
    margin-top: 25px;
    margin-left: 120px;
}
.FullPackage{
    border: 2px solid #ccc;
    margin-top: 20px;
    height: 100px;
    display: flex;
    gap: 40px;
    margin-left: 115px;
    width: 60%;
}
.fullpack{
    color:"#3d3d3d";
    font-weight:bold;
    font-size:20px;
    text-align: left;
    margin-left: 2px;
}
.unilimited{
    margin-top: -5px;
    margin-bottom: 5px;
}
.unilimited>p{
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: #3D3D3D;
    margin-left: 2px;
    
}
.freetrailbtn{
    background-color: blue;
    color: aliceblue;
    height: 50px;
    font-style: normal;
    width: 150px;
    margin-top: 20px;
    /* margin-left: 100px; */
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px;
}
.freetrailbtn2{
    background-color:rgb(220, 233, 220);
    color: black;
    height: 50px;
    font-style: normal;
    width: 150px;
    margin-top: 20px;
    /* margin-left: 100px; */
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px;
}
.lastdivs{
    /* border: 2px solid #ccc; */
    margin-top: 0px;
    height: 100px;
    display: flex;
    gap: 40px;
    margin-left: 115px;
    width: 60%;
    justify-content: space-between;
}
#exitemail{
    color:  red;
    font-size: small;
    margin-left: 15%;
    margin-top: 10px;
  
}
#exitemail:hover {
    cursor:pointer;
}
.innpput{
    width: 83%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(244, 8, 8);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  margin-top: 2px;
  
}
@media only screen and (min-width:16552) and  (max-width: 1655px){
    #headingline{
        margin-left:30px ;
    }
    #catptchdiv{
        margin-left: 140px;
    }
    .FullPackage{
        margin-left: 140px;
    }
    .lastdivs{
        margin-left:140px ;
    }
}


/* 700 Screen ---- Size */
@media only screen and (max-width: 1000px) {
    .div2 {
      /* background-color: red; */
      width: 0%;
      height: 0%;
    }
    .div1{
        width: 100%;
        margin-left: 15px;
    }
    .FullPackage{
        display: block;
    }
    #headingdiv{
        margin-left: 100px;
    }
    #catptchdiv{
        /* border: 2px solid red; */
        margin-top: 25px;
        margin-left: 100px;
    }
    .FullPackage{
        margin-left: 100px;
    }
    .freetrailbtn{
        margin-left: 15px;
        margin-top: 0px;
    }
    .freetrailbtn2{
        margin-left: 15px;
        margin-top: 10px;
    }
  }

  @media only screen and (max-width: 1000px) {
    .FullPackage{
        display: block;
        height: 160px;
    }
    .freetrailbtn{
        width: 90%;
    }
    .freetrailbtn2{
        width: 90%;
    }
    
  }

  @media only screen and (max-width: 600px) {
    .FullPackage{
        display: block;
        height: 170px;
        margin-left: 70px;
        
    }
    .freetrailbtn{
        width: 90%;
        height:40px ;
        margin-top: 5px;
        margin-top: -3px;
    }
    .freetrailbtn2{
        width: 90%;
        height:40px ;
        margin-top: 8px;
    }
    #headingdiv{
        margin-left: 60px;
    }
    #catptchdiv{
        /* border: 2px solid red; */
        margin-top: 25px;
        margin-left: 70px;
    }
    .lastdivs{
        margin-left: 80px;
    }
    
  }




